@use "sanitize.css";
@use "sanitize.css/typography.css";
@use "sanitize.css/forms.css";

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
	/* Step -1: 15.00px → 16.00px */
	--step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
	/* Step 0: 18.00px → 20.00px */
	--step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
	/* Step 1: 21.60px → 25.00px */
	--step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
	/* Step 2: 25.92px → 31.25px */
	--step-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
	/* Step 3: 31.10px → 39.06px */
	--step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
	/* Step 4: 37.32px → 48.83px */
	--step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
	/* Step 5: 44.79px → 61.04px */
	--step-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);

	--tan: #fff7ed;
	--transparent-tan: rgba(255, 247, 237, 0.804);
	--black: #292524;
}

body {
	background: var(--tan);
	color: var(--black);
	font-size: var(--step-1);
}
.wrapper {
	max-width: 900px;
	margin: auto;
	padding: 1rem 2rem;
}

header {
	backdrop-filter: blur(24px);
	position: sticky;
	top: -1px;
	background: var(--transparent-tan);
	transition: 350ms ease;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}
	&.isSticky {
		box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
			rgba(87, 83, 78, 0.1) 0px 25px 50px -12px;
	}
	h1 {
		font-size: var(--step-1);
		margin: 0;
	}
	p {
		margin: 0;
		font-size: 14px;
	}
}

h1 {
	font-size: var(--step-5);
	margin: 0 0 1rem;
}
h2 {
	font-size: var(--step-3);
}

p {
	max-width: 60ch;
}

a {
	color: var(--black);
	text-decoration: none;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
			rgb(240, 171, 252) 0px -0.4em 0px 0px inset;
	}
}

.books {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	> li {
		font-size: var(--step-5);
	}
	&-chapters {
		display: none;
		font-size: var(--step-0);
		margin-left: 1rem;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a.active {
		+ ol {
			display: block;
		}
	}
}

.chapter {
	scroll-margin-top: 3.5em;
	p:first-of-type {
		margin-top: 5rem;
		&::first-letter {
			font-size: var(--step-5);
			line-height: 0;
			font-weight: 200;
			margin-right: 5px;
		}
	}
}

footer {
	font-size: 14px;
	margin-top: 4rem;
}
