// 3rd party
@use "sanitize.css";
@use "sanitize.css/typography.css" as type;
@use "sanitize.css/forms.css";
@use "node-snackbar/dist/snackbar";

// custom styles
@use "_variables";
@use "_typography";
@use "_utilities";

// light/dark mode user overrides
html {
	&[data-color-scheme="light"] {
		--text: var(--black);
		--bg: var(--tan);
		--transparent-bg: var(--transparent-tan);
		--accent: var(--pink);
	}
	&[data-color-scheme="dark"] {
		--text: var(--tan);
		--bg: var(--black);
		--transparent-bg: var(--transparent-black);
		--accent: var(--yellow);
	}
}
