---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import bible from "../content/esv.json";

// Get random book
const bookNames = Object.keys(bible);
const randomBookName = bookNames[Math.floor(Math.random() * bookNames.length)];
const book = bible[randomBookName];

// Get random chapter
const chapterNumbers = Object.keys(book);
const randomChapterNumber = chapterNumbers[Math.floor(Math.random() * chapterNumbers.length)];
const chapter = book[randomChapterNumber];

// Get random verse
const verseNumbers = Object.keys(chapter);
const randomVerseNumber = verseNumbers[Math.floor(Math.random() * verseNumbers.length)];
const randomVerse = chapter[randomVerseNumber];
---

<Layout title='Error 404 | The Simple Bible'>
	<main class='wrapper'>
		<h1>Error 404</h1>
		<p>Sorry, you seem to have lost your way. Here's a random verse for you instead:</p>
		<blockquote>
			{randomVerse}
			<cite>{randomBookName} {randomChapterNumber}:{randomVerseNumber}</cite>
		</blockquote>
	</main>
</Layout>