---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import bible from "../content/en_kjv.json";

const randomBook = bible[Math.floor(Math.random() * bible.length)];
const randomChapter = randomBook.chapters[Math.floor(Math.random() * randomBook.chapters.length)];
const randomVerse = randomChapter[Math.floor(Math.random() * randomChapter.length)];
---

<Layout title='Error 404 | The Simple Bible'>
	<main class='wrapper'>
		<h1>Error 404</h1>
		<p>Sorry, you seem to have lost your way. Here's a random verse for you instead:</p>
		<blockquote>
			{randomVerse}
			<cite>{randomBook.name}</cite>
		</blockquote>
	</main>
</Layout>
