---
export const prerender = true;

import { bibleByTranslation } from "../content/bibles";
import { defaultTranslationId } from "../content/translations";
import BooksList from "../components/BooksList.astro";
import { SITE_DESCRIPTION, SITE_NAME } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_NAME} description={SITE_DESCRIPTION}>
  <main class="wrapper">
    <BooksList bible={bibleByTranslation[defaultTranslationId]} />
  </main>
</Layout>
