---
import Layout from "../layouts/Layout.astro";
import slugify from "slugify";
import bible from "../data/en_kjv.json";
---

<Layout title='Bible'>
	<main class='wrapper'>
		<ol class="books">
			{
				bible.map((book) => (
					<li>
						<a rel='prefetch' href=`${slugify(book.name, { lower: true })}/`>{book.name}</a>
						<ol class="books-chapters">
							{book.chapters.map((chapter, index) => (
								<li>
									<a href=`${slugify(book.name, { lower: true })}/#chapter-${index + 1}`>{index + 1}</a>
								</li>
							))}
						</ol>
					</li>
				))
			}
		</ol>
	</main>
</Layout>

<script>
	const books = document.querySelectorAll('main > ol > li > a');
	books.forEach(function(book) {
		book.addEventListener('click', function(event) {
			event.preventDefault();
			book.classList.toggle('active');
		})
	});
</script>