---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import slugify from "slugify";
import bible from "../data/en_kjv.json";
---

<Layout title='Bible'>
	<main class='wrapper'>
		<ol class="books">
			{
				bible.map((book) => (
					<li>
						<a rel='prefetch' href=`${slugify(book.name, { lower: true })}/`>{book.name}</a>
						<ol class="books-chapters">
							{book.chapters.map((chapter, index) => (
								<li>
									<a href=`${slugify(book.name, { lower: true })}/#chapter-${index + 1}`>{index + 1}</a>
								</li>
							))}
						</ol>
					</li>
				))
			}
		</ol>
	</main>
</Layout>

<script>
	const books = document.querySelectorAll('main > ol > li > a');
	books.forEach(function(book) {
		book.addEventListener('click', function(event) {
			event.preventDefault();
			book.classList.toggle('active');
		})
	});
</script>

<style lang="scss">
	.books {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		> li {
			font-size: var(--step-5);
		}
		&-chapters {
			display: none;
			font-size: var(--step-0);
			margin-left: 1rem;
			list-style: none;
			margin: 1rem 0 2rem;
			padding: 0;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1rem;
			a {
				border: 1px solid var(--text);
				width: 2em;
				height: 2em;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 2px;
				&:hover,
				&:focus {
					box-shadow: 0 0 0 transparent;
					background: var(--text);
					color: var(--bg);
				}
			}
		}
		a.active {
			+ ol {
				display: flex;
			}
		}
	}
</style>