---
interface Props {
	chapter: [];
	index: number;
}

const {chapter, index} = Astro.props;
---
<section class='chapter' id=`chapter-${index + 1}`>
	<h2>Chapter {index + 1}</h2>
	<nav>
		<ul>
			{chapter.map((verse, subindex) => (
					<>
					{subindex % 10 === 0 && (
						<li>
							<a href=`#chapter-${index + 1}-verse-${subindex + 1}`>
								{subindex + 1}-{chapter.length <= subindex + 10 ? chapter.length : subindex + 10}
							</a>
						</li>
					)}
					</>
			))}
		</ul>
	</nav>
	{chapter.map((verse, subindex) => (
		<p id=`chapter-${index + 1}-verse-${subindex + 1}` tabindex="0">
			{ subindex != 0  &&(
				<sup>{subindex + 1}</sup>
			)}
			{verse}
		</p>
	))}
</section>