---
---

<header>
	<div class='wrapper'>
		<h1><a href='/'>The Bible</a></h1>
		<button>
			<span class='screen-reader-text'>Toggle Dark Mode</span>
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512' width='20' height='16'>
				<path
					fill='var(--text)'
					d='M640 256c0 97.24-78.75 175.1-175.1 175.1s-175.1-78.72-175.1-175.1s78.75-175.1 175.1-175.1S640 158.8 640 256z'
				></path>
				<path
					fill='var(--text)'
					style='opacity: 0.4;'
					d='M165.5 346.5c-49.87-49.87-49.87-131.1 0-180.1C200.6 130.4 251 120.5 295.3 134.8c7.5-10.37 15.87-19.1 25.12-28.87L271.5 9.655c-6.375-12.87-24.62-12.87-30.1 0l-47.25 94.61L92.78 70.77C79.15 66.27 66.28 79.27 70.78 92.77l33.5 100.4L9.656 240.5c-12.87 6.374-12.87 24.62 0 30.1l94.62 47.24l-33.5 100.5c-4.5 13.62 8.5 26.5 21.1 21.1l100.4-33.5l47.25 94.61c6.375 12.87 24.62 12.87 30.1 0l47.37-94.61l5.25 1.75c-10.75-9.749-20.25-20.5-28.75-32.25C251 391.5 200.6 381.6 165.5 346.5zM256 160C203.1 160 160 203.1 160 256s43.12 95.99 95.1 95.99c7.75 0 15.12-1.25 22.25-2.875c-14.12-27.1-22.26-59.6-22.26-93.09S264.1 190.9 278.3 162.9C271.1 161.3 263.8 160 256 160z'
				></path>
			</svg>
		</button>
	</div>
</header>
<script>
	// drop shadow on the header
	const stickyElm = document.querySelector("header");
	const observer = new IntersectionObserver(
		([e]) => e.target.classList.toggle("isSticky", e.intersectionRatio < 1),
		{ threshold: [1] }
	);
	observer.observe(stickyElm);

	// dark mode stuffs
	const html = document.documentElement;
	const toggleButton = document.querySelector("header button");
	const prefersDark = window.matchMedia("(prefers-color-scheme: dark)");

	const setColorScheme = (value) => {
		html.dataset.colorScheme = value;
		localStorage.setItem("color-scheme", value);
	};

	if (localStorage.getItem("color-scheme")) {
		setColorScheme(localStorage.getItem("color-scheme"));
	}

	toggleButton.addEventListener("click", () => {
		if (!html.dataset.colorScheme && prefersDark.matches) {
			setColorScheme("light");
			return;
		}
		const scheme = html.dataset.colorScheme === "dark" ? "light" : "dark";
		setColorScheme(scheme);
	});
</script>
<style lang='scss'>
	header {
		backdrop-filter: blur(24px);
		position: sticky;
		z-index: 10;
		top: -1px;
		background: var(--transparent-bg);
		transition: 350ms ease;
		.wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 2rem;
		}
		&.isSticky {
			box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
				rgba(87, 83, 78, 0.1) 0px 25px 50px -12px;
		}
		h1 {
			font-size: var(--step-1);
			margin: 0;
		}
		button {
			appearance: none;
			border: 0 none;
			background: none;
			cursor: pointer;
		}
	}
</style>
