---
import Layout from '../../layouts/Layout.astro';
import slugify from 'slugify';

const key = import.meta.env.bible_api_key;
const url = import.meta.env.bible_url;
const bible = import.meta.env.bible_id;

const response = await fetch(`${url}/v1/bibles/${bible}/books`, {
	headers: {
		"api-key": key
	}
});
const body = await response.json();
const books = body.data;
console.log(books);

// export function getStaticPaths() {
// 	return [
// 		{params: {dog: 'clifford'}},
// 		{params: {dog: 'rover'}},
// 		{params: {dog: 'spot'}},
// 	];
// }
// 
// const { dog } = Astro.params;

---

<Layout title="Welcome to Astro.">
	<main>
		
	</main>
</Layout>

<style>
</style>
