---
export const prerender = true;

import BooksList from "../../components/BooksList.astro";
import Layout from "../../layouts/Layout.astro";
import { bibleByTranslation } from "../../content/bibles";
import {
  defaultTranslationId,
  translationMeta,
  type TranslationId,
} from "../../content/translations";

export async function getStaticPaths() {
  return translationMeta.map(({ id }) => ({
    params: { translation: id },
  }));
}

const { translation } = Astro.params;
const translationId = (translation as TranslationId) ?? defaultTranslationId;
const bible =
  bibleByTranslation[translationId] ?? bibleByTranslation[defaultTranslationId];
const label =
  translationMeta.find(({ id }) => id === translationId)?.label ??
  defaultTranslationId.toUpperCase();
---

<Layout
  title={`The Simple Bible (${label})`}
  description={`Read ${label} in a simple Bible PWA with offline support and light/dark modes.`}
>
  <main class="wrapper">
    <BooksList bible={bible} translation={translationId} />
  </main>
</Layout>
